*{
    padding: 0;
    margin: 0;
}
body{
    background: #eee;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}
.header{
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    background: white;
    border-bottom: 1px solid #ccc;
    display: flex;
}
.header span{
    flex: 1;
    text-align: center;
}
.header span.color{
    color: blue;
    border-bottom: 1px solid blue;
}
.content{
    flex: 1;
    overflow-y: scroll;
    padding-left: 20px;
    padding-right: 20px;
    background: white;
    margin-top: 10px;
    border-top: 1px solid #ccc;
}
.box{
    border-radius: 10px;
    box-shadow: 0 2px 2px #666;
    margin-top: 10px;
}
.top{
    background: rgb(231, 83, 83);
    border-radius: 10px 10px 0 0;
    color: white;
    padding-left: 20px;
    padding-right: 15px;
}
.top img{
    height: 20px;
    padding-right: 10px;
    padding-top: 15px;
    float: left;
}
.top span{
    font-size: 50px;
}
.top b{
    float: right;
    padding-top: 30px;
    font-weight: normal;
    font-size: 20px;
}
.bottom{
    padding-left: 20px;
    padding-right: 20px;
}
.door{
    font-size: 12px;
    color:  rgb(41, 145, 41);
}
.used{
    display: inline-block;
    width: 26px;
    height: 20px;
    background: url(images/b.png) 0 -4px no-repeat center center;
    color:  rgb(41, 145, 41);
}
.time{
    font-size: 12px;
    color: #666;
    padding-bottom: 2px;
}
.clock{
    display: inline-block;
    width: 23px;
    height: 26px;
    background: url(images/b.png) -1px -35px no-repeat center center;
    color: #666;
    vertical-align: middle;
}
.box:nth-child(2) .top{
    background: rgb(66, 66, 243);
}
.box:nth-child(3) .top{
    background: rgb(100, 36, 100);
}
.box:nth-child(4) .top{
    background: rgb(41, 145, 41);
}